{% extends 'base.html.twig' %}

{% block title %}Détails du Livre{% endblock %}

{% block body %}
    <h1>Détails Du Livre: {{ livre.titre|capitalize }} ({{ livre.prix }} DT)</h1>
    <div class="row">
        <div class="col-md-3">
            <img src="{{ livre.image }}" alt="{{ livre.titre }}" class="img-fluid">
        </div>
        <div class="col-md-9">
            <h4>ISBN: {{ livre.isbn }}</h4>
            <h4>Éditeur: {{ livre.editeur }}</h4>
            <h4>Date d'édition: {{ livre.editedAt|date('d-m-Y') }}</h4>
            <p>{{ livre.resume }}</p>
        </div>
    </div>
{% endblock %}
