{# user/_form.html.twig #}

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}
    
    <button type="submit" class="btn btn-primary">{{ button_label }}</button>
{{ form_end(form) }}
